$colorPrimario: #904af2;
$colorSecundario: #F24B8B;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Didact Gothic', Helvetica, sans-serif;
    background: #fff;
    font-size: 16px;
}

.contenedor {
    width: 100%;
    max-width: 1900px;
    margin:auto;
}

header {
        background-image: url(../img/fondo.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        max-height: 700px;    
        .menu-bar {
            background: #fff;
            display: flex;
            justify-content:space-around;
            .menu {
                padding: 20px;
                margin-top: 25px;
                a {
                    text-decoration: none;
                    padding: 10px;
                    color: $colorPrimario;
                }
                a:hover{
                    text-decoration: underline;
                }
            }
        }
        .contenedor-texto {
            color: #fff;
            display: flex;
            flex-wrap: wrap;
            justify-content:center;
            .texto-titulo {
                align-self: center;
                width: 30%;
                padding: 20px;
                margin-right:100px ;
                .titulo-1 {
                    font-family: 'Fjalla One', Helvetica, sans-serif;
                    font-weight: 500;
                    font-size: 4.5rem;
                    margin-bottom: 15px;
                }
                .divisor {
                    background: #fff;
                    height: 7px;
                    margin: 15px 0;
                }
            }
        }
    }

    .main {
        .botones-servicios{
            display: flex;
            background: #252525 ;
            justify-content: center;
            flex-wrap: wrap;
            text-align: center;
            .servicio {
                padding: 20px;
                margin: -70px 15px 60px;
                width: 250px;
                height: 250px;
                background: #fff;
                justify-self: center;
                .ico-servicio{
                    width: 100px;
                    height: 100px;
                }
                a {
                    display: inline-block;
                    font-size:75px;
                    background: $colorPrimario;
                    color :#f2f2f2;
                    margin-bottom: 20px;
                    border-radius: 50%;
                    margin-top: 10px;
                }
                .descripcion {
                    font-weight: 500;
                    font-size: 1.2em;
                }
            }
        } 
        .acerca-de{
            display: flex;
            background: $colorSecundario;
            justify-content: center;
            flex-wrap: wrap;
            align-content: center;
            .contenedor-acerca{
                width: 400px;
                padding: 50px;
                margin: 50px 0px;
                color:#fff;
                .titulo-2 {
                    font-weight: 300;
                    font-size: 2em;
                    padding-bottom: 10px;
                }
                .texto1{
                    margin-top: 10px;
                    font-size: 3em;
                    font-family: 'Fjalla One', Helvetica, sans-serif;
                }
            }
        }
        .servicio1 {
            display: flex;
            background: #252525;
            justify-content: center;
            flex-wrap: wrap;
            align-content: center;
            .img-servicio1{
                margin: 50px 0px;
                vertical-align: top;
                img{
                    padding: 20px;
                }
            }
            .caja-servicio1{
                margin: 150px  0px;
                margin-left: -150px;
                padding: 45px;
                background: $colorSecundario;
                color: #fff;
                width: 33%;
                .titulo2 {
                    font-size: 2.7em;
                    font-family: 'Fjalla One', Helvetica, sans-serif;
                    font-weight: 600;
                    margin-bottom: 20px;
                }
                .divisor-servicio {
                    width: 30%;
                    background: #fff;
                    height: 3px;
                    margin: 15px 0;
                }
            }
        }
        .servicio2{
            background-image: url(../img/fondo.jpeg);
            background-repeat: no-repeat;
            background-position: center;
            max-height: 700px;   
            justify-content: center;
            color: #fff;
            display: flex;
            flex-wrap: wrap;
            .texto-titulo{
                align-self: center;
                width: 30%;
                padding: 20px;
                margin-right:100px;
                .titulo-1 {
                    font-family: 'Fjalla One', Helvetica, sans-serif;
                    font-weight: 500;
                    font-size: 4.5rem;
                    margin-bottom: 15px;
                }
                .divisor {
                    background: #fff;
                    height: 7px;
                    margin: 15px 0;
                }
            }   
    }
}

.texto {
    font-size: 1.1em;
    line-height: 27px;
    margin-bottom: 15px;
}

.boton-grande {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 1.1em;
    display: inline-block;
    margin-left: 15px;
    margin-top: 20px;
    background:none;
    border-radius: 35px;
    color: #fff;
    border: solid 2px #fff;
    padding:15px 25px;
    cursor: pointer;
}

.boton-grande:hover {
    color: #d4d3d3;
    border: solid 2px #d4d3d3;
}
